/* === FLASH MESSAGES === */
div#flash-notice {

}

div#flash-warning {

}

div#flash-error {

}

/* === ERROR MESSAGES === */
div#errorExplanation {

}

div#errorExplanation h2 {

}

div#errorExplanation p {

}

div#errorExplanation ul {

}

div#errorExplanation ul li {

}

/* === FORMS === */
div.fieldWithErrors {

}

div.fieldWithErrors label {

}

div.fieldWithErrors input, div.fieldWithErrors select,
div.fieldWithErrors textarea
{

}

body {
  font-family: "Lucida Grande", "Helvetica", sans-serif;
  color: #FFF;
  background-color: #2b2b2b;
}

#header ul li {
  float: right;
  display: block;
  margin: 0 1em;
  text-indent: 0;
  padding: 0;
}

#container {
  margin: auto;
  width: 960px;
}

#restaurants {
  padding-top: 20px;
  padding-right: 10px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}

#map_container {
  background-color: #FFF;
  border: 4px solid #FFF;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 24px #000;
  -webkit-box-shadow: 0px 4px 16px #000;
}

#map {
}

#google_map {
  color: #000;
}

div.restaurant {
  padding-bottom: 15px;
  display: block;
}

div.restaurant div.name {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: none;
}
div.restaurant div.name a {
  text-decoration: none;
}

div.restaurant div.rating,
div.restaurant div.edit {
  font-size: 0.8em;
}

/* TAGS */
div#cloud {
  padding: 2px;
  line-height: 3em;
  text-align: center;
}
div#cloud div {
  padding: 0px;
  display: inline;
}
div#cloud div.tagsize0 {
  font-size: 1em;
  font-weight: 100;
}
div#cloud div.tagsize1 {
  font-size: 1.2em;
  font-weight: 200;
}
div#cloud div.tagsize2 {
  font-size: 1.4em;
  font-weight: 300;
}
div#cloud div.tagsize3 {
  font-size: 1.6em;
  font-weight: 400;
}
div#cloud div.tagsize4 {
  font-size: 1.8em;
  font-weight: 500;
}
div#cloud div.tagsize5 {
  font-size: 2em;
  font-weight: 600;
}
div#cloud div.tagsize6 {
  font-size: 2.2em;
  font-weight: 700;
}
div#cloud div.tagsize7 {
  font-size: 2.4em;
  font-weight: 800;
}
div#cloud div.tagsize8 {
  font-size: 2.6em;
  font-weight: 900;
}
div#cloud div.tagsize9 {
  font-size: 2.8em;
  font-weight: 900;
}

a {
  color: #CCC;
}
