<h1><%=h @tag.name -%></h1>

<%= raw @map.to_html -%>
<div style="float: right; width: 600px; height: 400px;">
  <%= raw @map.div %>
</div>

<h2>Restaurants:</h2>

<%= render :partial => 'restaurants/restaurant', :collection => @restaurants -%>
