<div id="map_container">
  <div id="map" style="margin: auto; width: 960px; height: 400px;"></div>
</div>

<%= raw @map.to_html -%>

<script>
  $.getJSON("/tags/<%=h @tag.name -%>.json", function(data) {
    var restaurants = data;
    markers = new OpenLayers.Layer.Markers("Restaurants");

    for(var i = 0; i < restaurants.length; i++) {
      var restaurant = restaurants[i];
      GrubPoints.addRestaurantMarker(markers, restaurant);
    }
    map.addLayer(markers);
  });

</script>

<h2>Restaurants with tag <%=h @tag.name -%></h2>

<%= render :partial => 'restaurants/restaurant', :collection => @restaurants -%>
