<div class="restaurant" id="<%= dom_id(restaurant) -%>">
  <div class="visited_at">
    <% if restaurant.last_visited_at -%>
      <%= restaurant.last_visited_at.strftime("%b %Y") %>
    <% else -%>
      ???
    <% end -%>
  </div>

  <div class="name"><%= link_to h(restaurant.name), restaurant %></div>
  <div class="address"><%=h restaurant.address -%></div>
</div>
