<%= @map.to_html(:no_global => true, :no_declare => true, :no_load => true) if @map %>

<h2>Restaurants</h2>
<ol>
<% @restaurants.each do |restaurant| -%>
  <li><%= restaurant['name'] -%></li>
<% end -%>
</ol>
