<h1>Restaurants</h1>

<%= raw @map.to_html %>
<div style="margin: auto; width: 960px; height: 400px;">
  <%= raw @map.div %>
</div>

<div id="restaurants">
  <%= render :partial => 'restaurant', :collection => @restaurants -%>
</div>

<br />

<%= link_to 'New restaurant', new_restaurant_path %>

