<div id="map_container">
  <div id="map" style="margin: auto; width: 960px; height: 400px;"></div>
</div>
<%= raw @map.to_html %>

<script>
  $.getJSON("/restaurants.json", function(data) {
    var restaurants = data;
    markers = new OpenLayers.Layer.Markers("Restaurants");

    for(var i = 0; i < restaurants.length; i++) {
      var restaurant = restaurants[i];
      var loc = new OpenLayers.LonLat(restaurant.longitude, restaurant.latitude);
      var marker = new OpenLayers.Marker(loc);
      marker.restaurant = restaurant;
      markers.addMarker(marker);

      marker.events.register("mouseover", marker, function(evt) {
        var size = new OpenLayers.Size(170,30);
        var loc = new OpenLayers.LonLat(this.restaurant.longitude, this.restaurant.latitude);

        var popup = new OpenLayers.Popup.Anchored("rm_" + this.restaurant.id, loc, size, this.restaurant.name, this.icon, true);
        markers.map.addPopup(popup, true);

      });
    }
    map.addLayer(markers);
  });

</script>

<div id="restaurants">
  <%= render :partial => 'restaurant', :collection => @restaurants -%>
</div>

<br />

<%= link_to 'New restaurant', new_restaurant_path %>

